.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-white);
  box-shadow: var(--box-shadow-default);
  height: 80px;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-4);
  z-index: 1000;
}

.header .leftContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.leftContainer .title {
  color: var(--text-black);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: var(--line-height-title);
}

/* right container */
.header .rightContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}
