.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  width: fit-content;
  height: 48px;
  cursor: pointer;
  user-select: none;
}

.container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-in);
  background-color: var(--background-white);
  border: var(--border-default);
  box-shadow: var(--box-shadow-default);
}

.label {
  font-size: var(--font-size-md);
  color: var(--text-default);
}

.box .check {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: var(--primary-default);
  border-radius: var(--border-radius-in);
}
